.item {
  max-width: 150px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  padding: 5px;
  .image {
    max-width: 150px;
    object-fit: cover;
    max-height: 225px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .hover__title {
    opacity: 0;
    visibility: hidden;
    color: white;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 7;
    transition: all 0.3s ease-in;
  }
  &:hover .image {
    transform: scale(1.2);
  }
  &:hover .hover__title {
    transition: all 0.5s ease-in;
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }
}
