$background: #141414;
$text-color: #fff;
$primary: #c80000;
$gradientTop: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.7) 10%,
  rgba(0, 0, 0, 0)
);
$gradientBottom: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 10%,
  rgba(0, 0, 0, 0.7)
);
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$border-radius: 20px;
$lite-color: #4793ff;
$card-background: rgb(38, 82, 226);
